* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #151515;
  color: white;
}

#nav-div {
  background-color: rgba(80, 73, 73, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

#nav-ul {
  display: flex;
  list-style-type: none;
}

.nav-item {
  padding: 1rem;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* movie image header  */
.main-container {
  padding-left: 2%;
}

.movie-title {
  padding: 10% 0 5% 10%;
  width: 40%;
  font-size: 50px;
  color: #fff;
  font-weight: 900;
}

.movie-description {
  color: #fff;
  text-align: left;
  width: 35%;
  padding: 0 0 2% 10%;
}

.comment-container {
  padding-bottom: 10%;
}

.comment-button {
  background-color: rgb(15, 161, 15);
  padding: 12px 25px;
  width: fit-content;
  margin-left: 10%;
  border-radius: 2px;
  transition: padding 0.5s;
}

.comment-button:hover {
  padding: 10px;
}

.comment-button a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.content-container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515), url('../images/f-2.jpg');
  background-repeat: no-repeat;
}

/* Movie list */
.movie-list-container.active {
  padding: 0 4% 0 4%;
  display: block;
}

.movie-list-title {
  padding-left: 6%;
  padding-bottom: 10px;
}

.movie-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-list {
  display: flex;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.movie-list-item-img {
  width: 40%;
  padding: 5px;
  border-radius: 10px;
}

.movie-list-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 30px;
}

.movie-name {
  padding-top: 20px;
  padding-right: 5px;
  font-weight: 700;
  font-size: large;
}

.movie-desc {
  font-size: 12px;
  padding-right: 3px;
}

.movie-icon {
  margin-right: 10px;
  font-size: 18px;
  color: rgb(15, 161, 15);
  font-weight: 600;
  padding-right: 3px;
}

.like-icon {
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  color: rgb(15, 161, 15);
}

.like-icon-text {
  margin-left: 3px;
  font-size: 14px;
}

.like-icon:hover {
  color: #fff;
}

.icon-text {
  font-size: 10px;
  padding-left: 4px;
}

.like-comment-cat {
  display: flex;
  gap: 15px;
}

#footer-container {
  background-color: rgba(80, 73, 73, 0.5);
  bottom: 0;
  width: 100%;
  color: white;
  margin-top: 1rem;
  padding: 1.5rem;
}

.footer-p a {
  color: burlywood;
  text-decoration: wavy;
  font-weight: bold;
}

/* Card-Modal: Student-B */

#modal-open {
  background-color: white;
}

.modal-section {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

.mod-separate {
  background-color: darkslategray;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
}

.modal-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 1rem auto 2rem;
  padding: 0.5rem;
}

.modal-details {
  width: 100%;
  text-align: center;
}

.mod-img {
  display: flex;
  justify-content: center;
}

.responsive {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.movie-name-modal {
  font-weight: bold;
  font-size: larger;
  padding: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.mod-about {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0.5rem;
  gap: 1rem;
  text-align: left;
}

.modal-show-comment {
  text-align: center;
  padding-top: 1rem;
}

.comment-box {
  display: flex;
  flex-flow: column wrap;
  text-align: justify;
  gap: 0.5rem;
}

.modal-add-comment {
  display: flex;
  flex-flow: column wrap;
  width: 90%;
}

.add-commnet-header {
  text-align: center;
}

.comment-input {
  display: flex;
  width: 60%;
  height: 1.5rem;
  margin: 0.3rem auto;
}

#submit-comment {
  width: 80px;
  margin: 0 auto;
}

/* End-of-Modal */

@media only screen and (min-width: 768px) {
  .movie-list-title {
    margin-left: 3%;
  }

  .movie-list-wrapper,
  .movie-list-wrapper-comedy {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-flow: wrap;
  }

  .movie-list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-bottom: 20px;
    transition: width ease 0.5s;
  }

  .movie-list-item-img {
    width: 100%;
    transition: width ease 0.5s;
  }

  .movie-list-item-img:hover {
    width: 98%;
  }

  .movie-desc {
    padding-bottom: 12px;
  }

  .like-comment-cat {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
  }

  .likes-count {
    color: rgb(15, 161, 15);
  }

  .like-button:hover .movie-icon {
    color: #fff;
  }

  .like-button:hover .likes-count {
    color: #fff;
  }

  .comment-movie:hover .movie-icon {
    color: #fff;
  }

  .comment-movie:hover .likes-count {
    color: #fff;
  }
}
